# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!*.rvdata2
!*.rb
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!OP-text01.png
!OP-text02.png
!OP-text03.png
!OP-text04.png
!OP-text05.png
!OP-text06.png